#container {
    width: 100%;
    height: 100%;

    padding: 150px 0;

    background: #dddcdc;

    display: flex;
    justify-content: center;
}


form {
    display: flex;
    flex-direction: column;

    border-radius: 4px;
    z-index: 2;

    background: white;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);

    padding: 100px;
}

.done-active {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    width: 380px;
    height: 300px;
    margin-bottom: 20px;
    border: 2px solid green;
    background-color: springgreen;
    border-radius: 4px;
}

.error-active {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    width: 200px;
    height: 36px;
    margin-bottom: 20px;
    border: 2px solid red;
    background-color: salmon;
    border-radius: 4px;

}

.disabled {
    display: none;
}



input {
    padding: 0;
    margin: 0;
    width: 200px;
    height: 26px;
    margin-bottom: 16px;
}

button {
    height: 30px;
}